<p>Voici les 7 tags qu’on utilise pour entrer et chercher les sons : </p>
<ul>
  <li>W, pour <b>WTF</b> : Tous ce qui est drôle, amusants, et qui vous semble intéressant a utiliser pour mettre du fun dans nos épisodes sera taguée W</li>
  <li>S, pour <b>Science</b> : Dès qu’on a un extrait un peu scientifique ou des mots qui appartiennent au registre des sciences on tag S.</li>
  <li>R, pour <b>Réaction</b> : On taguera avec R tous ce qui est les réactions courtes, qui permettent de faire vivre les animateurs, les « Oui » « Hmm hmm » « NON » mais aussi des truc du genre « C’est vraiment dingue » etc… mais aussi ce qui est présence genre respirations, soupir etc… il nous en faut aussi.</li>
  <li>Q, pour <b>Questions</b> : Il nous en faudra pleins pour construire l’interview et donc toute phrase qui termine en l’air ou qui est clairement une interrogative sera taguée Q</li>
  <li>P, pour <b>Présentation</b> : la mati!re qu’on va utiliser pour le début de l’épisode et présenter Axel sera taguer P</li>
  <li>C, pour <b>Corps</b> : la matière qui ne rentre pas dans ces quatre premier catégorie sera taguée C</li>
  <li>!, pour les <b>Must-used</b> un son qui vous semble impenssable de ne pas utiliser sera taguer « ! »</li>
</ul>
