<div class="result" style="border-bottom: 1px solid #000">
  <div>
    <p><b>File: </b><%= link_to result.filename, "https://storage.googleapis.com/haymakerforever/uploads/#{result.filename}" %></p>
    <p><b>Fulltext: </b><%= result.transcript %></p>
  </div>
</div>
