.player { display: inline-block }

.icon {
  display: none;
  width: 18px;
  height: 18px;
  background-image: image-url('audio.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

.result {
  .pause { display: none }

  &.playing  {
    .pause { display: inline-block }
    .play  { display: none }
    .icon  { display: inline-block }
  }

  &.paused {
    .play  { display: inline-block }
    .pause { display: none }

  }
}
